<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="./" Text="Pivot" CssClass="@rootNodeCssClass"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    const string rootNodeCssClass = "root-item";
    [Parameter] public string? StateCssClass { get; set; }
}