@using PivotDemoBlazor.Data;

<div class="d-flex align-items-center">
    <div class="col-2">
        <span style="font-weight:bolder">@Field.NameField:</span>
    </div>
    <div class="col-10">
        <DxRadioGroup Items="@Options"
                      Value="@OptionSelected"
                      ValueChanged="(string option) => OptionChanged(option, Field)"
                      Layout="RadioGroupLayout.Horizontal"
                      CssClass="dx-demo-radio-group" />
    </div>
    
</div>




@code {
    [Parameter] public DataField Field { get; set; }
    [Parameter] public EventCallback<DataField> EventCallback1 { get; set; }
    bool IsRow { get; set; }
    bool IsColumn { get; set; }
    bool IsSummary { get; set; }
    IEnumerable<string> Options = new[] { "Row", "Column", "Data" };
    string OptionSelected { get; set; }
    protected override void OnParametersSet()
    {
        OptionSelected = Field.Area.ToString();
    }
    void OptionChanged(string arg, DataField field)
    {
        OptionSelected = arg;
        Field.Area = (PivotGridFieldArea)Enum.Parse(typeof(PivotGridFieldArea), arg);
        EventCallback1.InvokeAsync(Field);
    }
    string GetLegendCssClass(SizeMode sizeMode)
    {
        var result = "dx-demo-radio-group-label";
        if (sizeMode != SizeMode.Medium)
            result += sizeMode == SizeMode.Large ? " dx-demo-large" : " dx-demo-small";
        return result;
    }
}

